In [17]:
import pandas as pd
import numpy as np

In [19]:
anes = pd.read_csv('/Users/eleanorbeers/Desktop/anes_timeseries_cdf_csv_20220916/anes_timeseries_cdf_csv_20220916.csv', na_values = ' ')

/var/folders/bk/ktq9bhyd5sj0sjnh3gds09940000gn/T/ipykernel_99480/2505955600.py:1: DtypeWarning: Columns (642,644) have mixed types. Specify dtype option on import or set low_memory=False.
  anes = pd.read_csv('/Users/eleanorbeers/Desktop/anes_timeseries_cdf_csv_20220916/anes_timeseries_cdf_csv_20220916.csv', na_values = ' ')

In [20]:
anes.head()

,Version,VCF0004,VCF0006,VCF0006a,VCF0009x,VCF0010x,VCF0011x,VCF0009y,VCF0010y,VCF0011y,...,VCF9272,VCF9273,VCF9274,VCF9275,VCF9277,VCF9278,VCF9279,VCF9280,VCF9281,VCF9282
0,ANES_CDF_VERSION:2022-Sep-16,1948,1001,19481001,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANES_CDF_VERSION:2022-Sep-16,1948,1002,19481002,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANES_CDF_VERSION:2022-Sep-16,1948,1003,19481003,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANES_CDF_VERSION:2022-Sep-16,1948,1004,19481004,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANES_CDF_VERSION:2022-Sep-16,1948,1005,19481005,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
anes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68224 entries, 0 to 68223
Columns: 1030 entries, Version to VCF9282
dtypes: float64(1016), int64(11), object(3)
memory usage: 536.1+ MB

In [24]:
print(anes['VCF0232'].dtype)
print(anes['VCF0846'].dtype)

float64
float64